body {
    background-color: bisque;
}

header {
    text-align: center;
}

.start-btn-container {
    display: flex;
    justify-content: center;
}

.first-yr {
    display: inline;
    float: left;
    border: solid black 3px;
    width: 45%;
    padding: 10%;
    margin: 10px;
}

.voldy {
    display: inline;
    float: right;
    border: solid black 3px;
    width: 45%;
    padding: 10%;
    margin: 10px;
}

#form-control {
    width: 80%;
    margin: 20px;
}